# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Notebooks
.ipynb_checkpoints/

# Virtual environment
env/
venv/

# Model files
*.pkl
*.h5
*.joblib

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
